/*PÁGINA INICIAL*/
.marca{
    width: 30%;
    margin:3em auto;
}
.cabecalho{
    width:100%;
}
.seta-right{
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid #000;
    float:left;
    margin-right:8px;
    margin-top:2px;
}
.imgMarca{
    margin-top:15px;
}
#imagemAcad{
    width:100%;
    height:100%;
}
/*Consultas*/
.conteudo{
    width: 1008px;
    margin: 3em auto auto;
}
.bg-tabela{
    width:100%;
    min-height:30px;
    float:left;
    background: #fff repeat-y;
    border-color:#000;
    border-style:solid;
    border-width:1px;
    margin-top:20px;
    margin-bottom: 20px;
}
.filtrar{
    width:95%;
    float:left;
    margin:20px 0 20px 25px;
}
.filtrar #MainContent_txtPesquisa{
    width:42%;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
}
/* Somente para Chrome e Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .filtrar #MainContent_txtPesquisa { line-height:0px; }
}
.filtrar input[type=submit]{
    margin-left: 4px;
}
.tabela{
    width:95%;
    float:left;
    margin:0 0 22px 25px;
    border: 1px solid #000;
}
.tabela th
{
    font-size:0.8em;
    font-weight: bold;
    color: #000;
    padding: 2px;
    border: 1px solid #000;
    text-align:center;
}
.tabela tr{  
    word-wrap:break-word;   
}
.tabela td{
    padding: 3px 0px;
    border: 1px solid #000;
    white-space: normal;
    text-align:center;
    font-size:0.8em;
}
.tabela td a{
    color:#000;
}
.btnsConsulta{
    float:right;
    margin:0px 26px 16px;
}
.btnsConsulta input{
    margin-left:6px;
}
.ckbox input{
    width:10px!important;
    padding:0px!important;
    height:12px!important;
}
/*CADASTRO*/
.row-936{
    width:936px;
    min-height:49px;
    float:left;
    margin:0px 0 13px 34px;
}
.row-936 input{
    width:926px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
}
.row-936 select{
    width:938px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
}
.row-936 textarea{
    width:926px;
    height:112px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
    resize:none;
}
.row-936-btn
{
    width:936px;
    min-height:49px;
    float:left;
    margin:0px 0 13px 34px;
}
.row-936-btn select{
    width:795px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
}
.row-936-btn .fakeupload
{
    width:288px;
    height:29px;
    border:1px solid #000;
	background: #fff url("../img/btn-selecione.png") no-repeat 99% 51%!important;
	cursor: default;   
}
.row-936-btn .realupload 
{
    height: 29px;
    left: -293px;
    opacity: 0;
    position: relative;
    top: 0;
    width: 288px;
	-moz-opacity:0;
	filter:alpha(opacity:0);
}
.row-750{
    width:750px;
    min-height:49px;
    float:left;
    margin:0px 0 13px 34px;
}
.row-750 input{
    width:738px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
}
.row-750 select{
    width:749px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
}
.row-452{
    width:452px;
    min-height:49px;
    float:left;
    margin:0px 0 13px 34px;
}
.row-452 input{
    width:440px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
}
.row-452 select{
    width:451px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
}
.row-290{
    width:290px;
    height:49px;
    float:left;
    margin:0px 0 13px 34px;
}
.row-290 input{
    width:278px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
}
.row-290 select{
    width:289px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
}
.row-290 .fakeupload
{
    width:277px;
    height:29px;
    border:1px solid #000;
	background: #fff url("../img/btn-selecione.png") no-repeat 99% 51%!important;
	cursor: default;   
}
.row-290 .realupload 
{
	float: right;
    height: 29px;
    opacity: 0;
    position: relative;
    top: -31px;
	-moz-opacity:0;
	filter:alpha(opacity:0);
	width: 277px;
}
.row-265{
    width:265px;
    min-height:49px;
    float:left;
    margin:12px 0 18px 34px;
}
.row-265 input{
    width:255px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
}
.row-265 select{
    width:268px;
    height:31px;
    background: #fff no-repeat;
    border:1px solid #000;
}
.row-154{
    width:154px;
    min-height:29px;
    float:left;
    margin:0px 0 13px 34px;
}
.row-154 input{
    width:142px;
    height:29px;
    background: #fff no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
}
.radio tr
{
    float:left;
    margin-right:12px;
    font-size:14px;
    margin-top: 3px;
}
.radio tr td input
{
    margin-right:3px;
    margin-top:2px;
    width:10px;
    height:10px;
    background: none;
    border:0;
    padding:0px;
}
.lbrow-936{
    width:936px;
    min-height:49px;
    float:left;
    margin:0px 0 13px 34px;
}
.lbrow-936 textarea{
    width:926px;
    height:112px;
    background: #f0f0f0 no-repeat;
    border:1px solid #000;
    padding:0 5px 0 5px;
    resize:none;
}
.btnsCadastro{
    float:right;
    margin:18px 37px 16px;
}
/* Somente para Chrome e Safari */
@media screen and (-webkit-min-device-pixel-ratio:0) {
 .btnsCadastro{ margin-top:15px; }
}
/*end*/
.btnsCadastro input{
    margin-left:6px;
}
/*Cadastra Repetições*/
.adicione{
    margin:10px;  
}
.adicione a{
    color:#000;
    background:url('../img/icon-add-list.png') no-repeat left;
    padding-left: 20px;
}
#MainContent_btnAdicionar
{
    float: right;
    margin-bottom: 20px;
    margin-right: 36px;    
    width:159px!important;
}
/*Academia*/
#MainContent_ImagemAcademia {
    float: right;
    margin-top: 14px;
}
/*FICHAS*/
#MainContent_btnAdicionarExercicios{
    float:right;
    width:auto!important;
}
/*INICIO - INSTRUTOR E ALUNO*/
h2 span{
    float: left;
    font-size: 27px;
    margin-top: -6px;
    padding-right: 3px;
}
.efeito{
    display:inline;
    cursor:pointer;
}
.box{
    width:100%;
    float:left;
    margin-bottom:50px;
}
#easyTooltip{
    padding: 5px 10px;
    border: 1px solid #000;
    background-color: #fff;
    color: #000;
}
/*Serie Categoria*/
.tabCad{
    margin-top:22px;
}
/*Avisos*/
#MainContent_btnAdicionarPerfil
{
    float: right;
    margin-bottom: 20px;
    margin-right: -1px;
    margin-top: -1px; 
}
#MainContent_btnAdicionarAnexo
{
    float: right;
    margin-right: 385px;
    margin-top: -31px;
}